

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    color: white;
}

body{
    width: 80%;
    margin: 0 auto;
    background-color:#7B3F00;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.navbar .links ul{
    list-style: none;
    display: flex;
}

.navbar .links ul li{
    margin-left: 35px;
}

.navbar .links ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
}

.navbar .links ul li a:hover{
    color: #FF9D20;
}

.container{
    padding-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

.container .text{
    width: 50%;
}

.container .text h1{
    font-size: 55px;
    font-weight: 600;
}

.container .text h1 span{
    font-weight: 400;
}

.container .text p{
    width: 85%;
    font-size: 17px;
    margin: 25px 0;
    color: rgba(255, 255, 255, 0.6);
}

.container .text button{
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FF9D20;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.container .text button:hover{
    background: #d1821c;
}

.container .photo{
    width: 50%;
}

.container .photo img{
    width: 520px;
} 
.qr_row{
width: 100%;
height: max-content;
display: inline-flex;
justify-content: center;
margin: 50px 0px;
}
.qr_body{
    width: 300px;
    height: 450px;
    margin: 30px 100px;
    justify-content: center;
    text-align: center;
}
h1{
    margin: 20px 0px;
}
.qr{
    width: 300px;
    height: 300px;
}
